<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
  </head>
  <body>
    <header>
      <div style="display: flex; justify-content: space-between">
        <p><a href="{{ url_for('login') }}">Home</a></p>

        <form
          action="/logout"
          method="POST"
          style="display: flex; align-items: center"
        >
          <p>log out</p>
          <button
            style="
              margin-left: 5px;
              background-color: rgb(31, 22, 153);
              color: white;
              border: none;
              border-radius: 100%;
              width: 25px;
              height: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            "
            type="submit"
            class="button logout-button"
          >
            x
          </button>
        </form>
      </div>
    </header>

    <div class="container">{% block content %} {% endblock %}</div>

   
  </body>
</html>
