<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prendre Rendez-vous</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body style="display: flex; flex-direction: column">
    <header style="width: 100%; position: fixed; top: 0">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          background-color: #333;
          border-bottom: 2px solid #ddd;
        "
      >
        <p style="margin: 0; font-size: 16px; font-weight: bold">
          <a
            href="{{ url_for('login') }}"
            style="
              text-decoration: none;
              color: white;
              padding: 5px 10px;
              border-radius: 5px;
              transition: background-color 0.3s;
            "
          >
            Home
          </a>
        </p>

        <p style="margin: 0; font-size: 16px; font-weight: bold">
          <a
            href="{{ url_for('logout') }}"
            style="
              text-decoration: none;
              color: white;
              padding: 5px 10px;
              border-radius: 5px;
              transition: background-color 0.3s;
            "
          >
            Logout
          </a>
        </p>
      </div>
    </header>

    <div style="display: flex; justify-content: center; margin-top: 50px">
      <h1
        style="
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
          color: green;
        "
      >
        Bonjour docteur
      </h1>
    </div>

    <form
      method="post"
      id="appointment-form"
      action="/add-appointment"
      enctype="multipart/form-data"
    >
      <div>
        <label for="patient_name" class="form_label">Patient Name</label><br />
        <input
          type="text"
          name="patient_name"
          id="patient_name"
          size="32"
          placeholder="Enter the patient's full name"
          value="{{ patient_name }}"
        /><br />
        {% if patient_name_error %}
        <span style="color: red">[{{ patient_name_error }}]</span>
        {% endif %}
      </div>

      <div>
        <label for="email" class="form_label">Email</label><br />
        <input
          type="email"
          name="email"
          id="email"
          size="32"
          placeholder="Enter your email address"
          value="{{ email }}"
        /><br />
        {% if email_error %}
        <span style="color: red">[{{ email_error }}]</span>
        {% endif %}
      </div>

      <div>
        <label for="date" class="form_label">Date</label><br />
        <input
          type="date"
          name="date"
          id="date"
          placeholder="Select the appointment date"
          value="{{ date }}"
        /><br />
        {% if date_error %}
        <span style="color: red">[{{ date_error }}]</span>
        {% endif %}
      </div>

      <div>
        <label for="time" class="form_label">Time</label><br />
        <input
          type="time"
          name="time"
          id="time"
          placeholder="Select the appointment time"
          value="{{ time }}"
        /><br />
        {% if time_error %}
        <span style="color: red">[{{ time_error }}]</span>
        {% endif %}
      </div>

      <div>
        <label for="motif" class="form_label">Reason</label><br />
        <textarea
          name="motif"
          id="motif"
          rows="4"
          cols="50"
          placeholder="Enter the reason for the appointment"
        >
{{ motif }}</textarea
        ><br />
        {% if motif_error %}
        <span style="color: red">[{{ motif_error }}]</span>
        {% endif %}
      </div>

      <div>
        <label for="image" class="form_label">Image</label><br />
        <input type="file" name="image" id="image" /><br />
        {% if image_error %}
        <ul>
          {% for error in image_error %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <button type="submit">Submit</button>
    </form>
  </body>
  <script src="../static/js/script.js"></script>
</html>
