<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container" >
        <div style="display: flex;justify-content: space-between;align-items: center; margin-left: 20px;margin-right: 20px;">
            
                <h1 style="margin-right: 10px;">Welcome, {{ session['username'] }}</h1>
                <span style="padding: 5px 10px; background-color: #007bff; color: white; border-radius: 12px; font-size: 16px;">
                    {{ session['role'] }}
                </span>
            
            
        </div>
        <div style="display: flex;justify-content: center;">
        {% if session['role'] == 'admin' %}
        <div class="buttons">
            <a href="/create-account" class="button">Create Account</a>
            <a href="/dashboard" class="button">Dashboard</a>
            <a href="/add-appointment" class="button">Add Appointment</a>
            <a href="/liste-rendezvous" class="button">View Appointments</a>
        {% elif session['role'] == 'doctor' %}
        <div class="buttons">
            <a href="/liste-rendezvous" class="button">View Appointments</a>
        {% elif session['role'] == 'nurse' %}
        <div class="buttons">
            <a href="/add-appointment" class="button">Add Appointment</a>
            <a href="/liste-rendezvous" class="button">View Appointments</a>
        {% endif %}
    </div>
    </div>
        <!-- Logout Button -->
    <div style="display: flex;justify-content: center;margin-top: 50px;">
        <form action="/logout" method="POST">
            <button type="submit" class="button logout-button">Logout</button>
        </form>
    </div>
</body>
</html>
